.titulo__lista-item{
    font-size: 1.75rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: cursive;
    font-weight: 500;
}
/*Tablet*/
@media(max-width:1200px) {
    .titulo__lista-item{
        margin-bottom: 1.25rem;
    }      
}