.principal__mensaje{
    width: 20%;
    margin-left: 5%;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 3%;
}
/*Tablet*/
@media(max-width:1200px) {
    .principal__mensaje{
        width: 70%;
        margin: 0 auto;
    }   
}