.principal__mensaje-boton-div{
    margin: 0 90px;
    padding-top: 2rem;
}
.principal__mensaje-boton{
    color: white;
    font-weight: 520;
    background-color: rgb(66, 66, 66);
    border-radius: 7px;
    font-size: 2rem;
    padding: .5rem;
    display: none;
    
}
.principal__mensaje-boton:hover{
    cursor: pointer;
    font-size:2.1rem ;
    background-color: #000000;
}
/*Tablet*/
@media(max-width:1200px) {
    .principal__mensaje-boton{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }   
}
/*Cel*/
@media(max-width:764px) {
    .principal__mensaje-boton{
        width: 170%;
        margin-left: -35%;
        
    }   
}